<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/home.css' %}">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
    <h1>Stats Job Scrap</h1>
    {% csrf_token %}
        <div class="infos-scrap">
            <h2>Jobs no banco de dados</h2>
            <h3>{{ info }}</h3>
        </div>
        <div>
            <h2>Jobs para serem scrapados</h2>
            {% for site in standby %}
                <h3>{{ site.site }}</h3>
                <h3>{{ site.site__count }}</h3>
            {% endfor %}
        </div>
<a href="{% url 'create-preferences' %}"><button>Tracking</button></a>
<a href="{% url 'controller_home'%}">Home controller</a>
<div class="chart-box">
<div>
  <canvas id="myChart"></canvas>
</div>
<div class="chart-container">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ label|safe }},
      datasets: [{
        label: 'Term used for search',
        data: {{ data|safe }},
        borderWidth: 1,
          backgroundColor: 'rgba(75, 192, 192, 0.5)',
          hoverBackgroundColor: 'rgba(0, 0, 0, 0.2)'
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        }
      }
    }
  });
</script>
</div>
</div>
</div>
</body>
</html>