<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set preferences</title>
</head>
<body>
<h1>Set your preferences</h1>
<h3>Choose your preferences for a better match in vacancies</h3>
<div class="set-preferences" name="preferences-div">
    <form method="post" action="{% url 'create-preferences' %}">
                {% csrf_token %}
        <label>Choose a programming language</label>
        <select name="programming-language">Choose one.
        <option>Select a language</option>
        {% for lang in languages %}
            <option value="{{ lang.tecnologie }}">{{ lang.tecnologie.capitalize }}</option>
        {% endfor %}
        </select>

        <label>Choose a framework</label>
        <select name="framework">
        <option selected="selected">Select a framework</option>
        {% for fr in frameworks %}
            <option value="{{ fr.tecnologie }}">{{ fr.tecnologie.capitalize }}</option>
        {% endfor %}
        </select>

        <label>Choose a database</label>
        <select name="database">Choose one.
        <option>Select a database</option>
        {% for db in databases %}
            <option value="{{ db.tecnologie }}">{{ db.tecnologie.capitalize }}</option>
        {% endfor %}
        </select>
    <button type="submit" name="button-submit-preferences">Submit preferences</button>
    </form>

<div class="list-preferences">
<h2>Tecnologies tracking</h2>
    <div class="languages">
        <form method="post">
                <table>
                    <tr>
                        <th>Linguagem</th>
                        <th>Type</th>
                        <th>Excluir</th>
                    </tr>
                    {% for tech in tecnologiesPref %}
                    <tr>
                        <td>{{ tech.tecnologie.capitalize }}</td>
                        <td>{{ tech.type.capitalize }}</td>
                        <td><a href="delete/{{ tech.id }}">Excluir</a></td>
                    </tr>
                {% empty %}
            <h3>Not found technologies</h3>
                    {% endfor %}
                </table>
        </form>
    <a href="{% url 'home' %}"><button>Home</button></a>
</div>
</div>
</div>
</div>
</body>
</html>