<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Controller</title>
</head>
<body>
<h1>Welcome to a home of controller</h1>
<div class="operations">
    <h3>Sites for scrap</h3>
    <ul>
        <li><a href="#">Add new site</a></li>
        <li><a href="#">Edit site</a></li>
        <li><a href="#">Delete site</a></li>
    </ul>
</div>
<div class="operations">
    <h3>Operations</h3>
    <ul>
        <li><a href="#">Add new Operation</a></li>
        <li><a href="#">Edit Operation</a></li>
        <li><a href="#">Delete Operation</a></li>
    </ul>
</div>

<div class="operations-xpath">
    <h3>XPath components</h3>
    <ul>
        <li><a href="#">Add new XPath</a></li>
        <li><a href="#">Edit XPath</a></li>
        <li><a href="#">Delete XPath</a></li>
    </ul>
    </div>
</body>
</html>